In [5]:
import pandas as pd
d = pd.read_csv('data/ayub_txns.csv')
d.head()

,cust_id,tran_partclr,tran_date,dr_cr_indctor,tran_amt_in_ac,category_of_txn,tran_type
0,9449274898,UPI/NAUSHAD/441335947245/Payment from UPI-5211...,2025-07-30,C,10,P2P,UPI
1,9449274898,UPI/MOHD AYYOOB/838502059488/Payment UPI-52114...,2025-07-30,D,20000,SELF,UPI
2,9449274898,"EMPLOYEE SALARY FOR JUL'25 2,81,149.00 3,01,63...",2025-07-30,C,281149,SALARY,Unknown
3,9449274898,UPI/MOHD AYYOOB/521211293326/MB UPI UPI-521207...,2025-07-31,D,75000,SELF,UPI
4,9449274898,UPI/MOHD AYYOOB/506010990890/Payment UPI-52120...,2025-07-31,D,25000,SELF,UPI

In [4]:
d["category_of_txn"] = d["category_of_txn"].fillna("Unknown")
d["tran_type"] = d["tran_type"].fillna("Unknown")
d.to_csv('data/ayub_txns.csv', index=False)

In [3]:
d['dr_cr_indctor'] = d['dr_cr_indctor'].replace({'CR': 'C', 'DR': 'D', 'cr': 'C', 'dr': 'D'})